body {
  background-color: #515259;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h3 {
  text-align: center;
}

.container {
  padding: 5rem 0;
}

.box-content {
  border: 2px dashed #A80025;
  padding: 1rem;
  background-color: #dddddd;
}

.btn {
  display: grid;
}

.btn a button {
  padding: .5rem;
  border: none;
  border-radius: .3rem;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  margin: .2rem 0;
}

#produtos {
  background-color: #3a3a3a;
  color: #D9ABA0;
  cursor: pointer;
}

#clientes {
  background-color: #D9ABA0;
  color: #3a3a3a;
}

#produtos:hover {
  background-color: #4e4e4e;
}

#clientes:hover {
  background-color: rgb(214, 178, 169);
}

@media screen and (min-width: 887px) {
  .container {
    padding: 5rem 20%;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
  } 
}